<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>
    <div  class="header">
        <h1>File Explorer</h1>
    </div>
    <div class="container">
        <div class="explorer">
             <% files.forEach(function(file) { %>

                <p>
                <a href="../dir/<%= file %>">
                    <%=file%>
                </a>
                </p>
            <%})%>
        </div>
        <div class="viewer-container">
                <div class="breadcomb"></div>
                <div class="viewer">
            <%= contents %>
            </div>
        </div>
    </div>

           

</body>

</html>
